<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <title>Boolflix</title>
    </head>
    <body>
        <div id="root">

            <div class="container">

                <div class="find-a-movie">

                    <div class="search-section">
                        <input type="text" placeholder="Find a movie..." v-model="search" id="search-bar" @keyup.enter="search_movie">
                        <button type="button" name="button" @click="search_movie">Search</button>
                    </div>

                    <ul class="movies-wrapper">
                        <li v-for="(movie, index) in total_array">
                            <ul class="movie-card">
                                <li class="movie-title">
                                    Title: {{movie.title ? movie.title : movie.name}}
                                </li>
                                <li class="movie-original-title">
                                    Original Title: {{movie.original_title ? movie.original_title : movie.original_name}}
                                </li>
                                <li class="movie-original-language">
                                    <strong>Original Language:</strong>
                                    <div class="flag-container">
                                        <img class="flag-img":src="'./img/flags/'+movie.original_language+'.png'" :alt="movie.original_language">
                                    </div>
                                </li>
                                <ul class="stars-container">
                                    <strong>Rating</strong>
                                    <li class="yellow-star" v-for="star in get_score(movie.vote_average)">★</li>
                                    <li v-for="star in (5-get_score(movie.vote_average))">★</li>
                                </ul>
                                <!-- <li class="movie-vote-avarage">
                                    Score: {{movie.vote_average}}
                                </li> -->
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
        <script src="assets/main.js" charset="utf-8"></script>
    </body>
</html>
