*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    outline: none;

}

.container{
    min-height: 100vh;
    background-color: #141414;
    color: white;
}

#navbar{
    height: 120px;
    padding: 10px;
    background-color: rgba(0,0,0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    width: 30%;
}

/* Sezione di ricerca  */
.search-section{
   text-align: right;
   width: 30%;
}

.search-section button{
   height: 40px;
   font-size: 20px;
   padding: 0 10px;
   border-radius: 16px;
   cursor: pointer;
   border: none;
   background-color: #e50913;
   font-weight: bold;
   color: #121212;
}

#search-bar{
   width: 300px;
   height: 40px;
   margin-bottom: 10px ;
   font-size: 20px;
   border-radius: 16px;
   padding-left: 10px;
   border: none;
}


/* Parte centrale */
.find-a-movie{
    width: 90%;
    min-height: calc(100vh - 120px);
    padding: 40px;
    margin: auto;
}

.text-results{
    height: 50px;
    padding: 10px;
}

.searched{
    font-style: italic;
}
.movie-results{
    min-height: calc( 100% - 50px );
}

/* Sezione card risultati */
.movies-wrapper{
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}

.movie-card{
    width: 342px;
    height: 513px;
    margin: 20px;
    font-size: 18px;
    list-style: none;
    background-color:rgba(0,0,0, 0.5);
    border-radius: 4px;
    position: relative;
}

.movie-poster-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 3px;
    position: absolute;
}

.infos-container{
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.infos-container div{
    margin: 3px 0;
}

.rating-container{
    display: flex;
    list-style: none;
}

.stars-container{
    font-size: 20px;
    padding-left: 5px;
}

.yellow{
    color: gold;
}

.movie-original-language{
    display: flex;
    align-items: center;
}

.flag-img{
    width: 20px;
}

.blur{
    opacity: 0.1;
    transition: 0.3s;
}

.hide{
    opacity: 0;
    transition: 0.3s;
}

.show{
    opacity: 1;
    transition: 0.3s;
}

.overview-container{
    overflow-y: auto;
    align-self:  flex-end;
    height: 70%;
}
