*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    outline: none;

}


.container{
    min-height: 100vh;
    background-color: #141414;
    color: white;
}

#navbar{
    position: fixed;
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    /* background-color: rgba(0,0,0, .5); */
    background-image: linear-gradient(rgba(0,0,0,1) 35%,rgba(0,0,0,0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo-container{
    width: 30%;
}

/* Sezione di ricerca  */
.search-section{
    text-align: right;
    width: 35%;
}

.search-section button{
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #e50913;
    font-weight: bold;
    color: #121212;
}

#search-bar{
    width: 70%;
    height: 40px;
    margin-bottom: 10px ;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
}


/* Parte centrale */
.find-a-movie{
    width: 90%;
    min-height: calc(100vh - 120px);
    padding: 40px;
    padding-top: 120px;
    margin: auto;
}

.text-results{
    margin-left: 20px;
    height: 50px;
    padding: 10px;
}
.red{
    color: #e50913;
}

.searched{
    font-style: italic;
}

.movie-results{
    /* height: 100%; */
    min-height: calc( 100% - 50px );
}

/* Sezione card risultati */
.movies-wrapper{
    height: 100%;
    overflow-y: hidden;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    list-style: none;
}

.card-wrapper{
    width: 100%;
    max-width: 342px;
    height: 513px;
    margin: 20px;
    background-color:rgba(0,0,0, 0.5);
}

.movie-card{
    /* width: 342px; */
    /* height: 513px; */
    width: 100%;
    height:  100%;
    /* margin: 20px; */
    font-size: 18px;
    list-style: none;
    /* background-color:rgba(0,0,0, 0.5); */
    border-radius: 8px;
    position: relative;
}

.movie-poster-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
    position: absolute;
}

.infos-container{
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.infos-container div{
    margin: 3px 0;
}

.rating-container{
    display: flex;
    list-style: none;
}

.stars-container{
    font-size: 20px;
    padding-left: 5px;
}

.yellow{
    color: gold;
}

.movie-original-language{
    display: flex;
    align-items: center;
}

.flah-container{
    display: flex;

}

.flag-img{
    width: 20px;
}

.blur{
    opacity: 0.1;
    transition: 0.3s;
}

.hide{
    opacity: 0;
    transition: 0.3s;
}

.show{
    opacity: 1;
    transition: 0.3s;
}

.overview-container{
    overflow-y: auto;
    height: 70%;

    /* width */

}


/* Stile scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e50913;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e50913;
}

/* Fine Stile scroll bar */
